<app-header></app-header>

<section class="listar-vagas">
  <div class="top-section">
    <h2 class="titulo-vagas">Vagas de Empregos</h2>
    <div class="button">
      <button class="curriculo" routerLink="/curriculo">Criar currículo</button>
    </div>
  </div>

  <div class="container-cards">
    <div *ngFor="let vaga of vagas" class="card">
      <div class="card-body">
        <h5 class="card-title">Código da Vaga: {{ vaga.id }}</h5>
        <h5 class="card-title">Vaga: {{ vaga.nome }}</h5>
        <p class="card-text">Descrição da Vaga: {{ vaga.descricao }}</p>
        <p class="card-text">Salário: R$ {{ vaga.salario }}</p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
