* {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

:host {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.header-content {
  width: 100%;
  margin: 0;
  padding: 15px 20px;
  background: #002d62; 
  color: white;
}

.navbar {
  width: 100%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;

  > a {
    font-family: 'segoe ui', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0a2a4f;
    text-decoration: none;
  }

  .navItens {
    font-family: 'segoe ui', sans-serif;
    display: flex;
    gap: 10px;

    .navLink {
      padding: 10px 20px;
      border: 2px solid #0a2a4f;
      border-radius: 5px;
      color: #0a2a4f;
      text-decoration: none;
      font-weight: bold;
      transition: background-color 0.2s ease, color 0.2s ease;

      &:hover {
        color: #ffffff;
        background-color: #0a2a4f;
      }

      &.active {
        background-color: #0a2a4f;
        color: #ffffff;
      }
    }
  }
}